<template>
  <div class="question">
    <div class="text-block">
      <span class="text-block__main">{{ question.text }}</span>
      <span
        v-if="question.type == 'checkbox'"
        class="text-block__remark"
      >Вы можете выбрать несколько вариантов ответа</span>
    </div>
    <div class="answers-list">
      <div
        class="answers-list__item"
        :style="{'width': `calc(${width} - 20px)`}"
        v-for="variant in question.variants"
        :key="variant.id"
        @click="select(variant.text)"
      >
        <div class="answers-list__image-wrap">
          <img :src="variant.image" class="answers-list__image">
        </div>
        <div class="answers-list__bottom">
          <div
            v-if="question.type == 'checkbox'"
            :checked="isContainId(variant.text)"
            class="checkbox"
          ></div>
          <div v-if="question.type == 'radio'" :checked="isContainId(variant.text)" class="radio"></div>
          <span class="answers-list__text">{{ variant.text }}</span>
        </div>
      </div>
    </div>
    <div class="bottom">
      <button
        :class="[{ 'button_disabled': isEmptyArray(result) }, 'button', 'button_next']"
        @click="nextPage"
        :disabled="isEmptyArray(result)"
        :title="isEmptyArray(result) ? title : false"
      >Далее</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Question',

  props: {
    question: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      result: [],
      width: '',
      title: 'Выберите вариант ответа для того, чтобы продолжить'
    }
  },

  methods: {
    isEmptyArray (value) {
      return value.length === 0
    },

    isContainId (id) {
      return this.result.indexOf(id) >= 0
    },

    nextPage () {
      this.$emit('complete', this.result)
    },

    select (id) {
      if (this.question.type === 'radio') {
        this.result = [id]
      } else {
        const index = this.result.indexOf(id)
        if (index >= 0) {
          this.result.splice(index, 1)
        } else {
          this.result.push(id)
        }
      }
    },
    changeWidth () {
      const container = document.querySelector('.question')
      const value = Math.floor(container.getBoundingClientRect().width / 300)
      this.width = `${(100 / value)}%`
      if (value > this.question.variants.length) {
        this.width = `${(100 / this.question.variants.length)}%`
      }
      if (this.question.variants.length > 8 && value > 8) {
        this.width = '12.5%'
      }
      console.log(value)
    }
  },
  mounted () {
    this.changeWidth()
    window.addEventListener('resize', this.changeWidth)
  }
}
</script>

<style lang="scss">
.question {
  display: block;
  &_hidden {
    display: none;
  }
}
.answers-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;
  margin-left: -20px;
  &__item {
    margin-bottom: 20px;
    margin-left: 20px;
    min-width: 280px;
    max-width: 500px;
    background-color: #f7f6f6;
    cursor: pointer;
  }
  &__image-wrap {
    overflow: hidden;
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
  &__bottom {
    display: block;
    padding: 10px;
    background-color: #f7f6f6;
    text-align: center;
  }
  &__text {
    padding-left: 22px;
    font-size: 16px;
    line-height: 18px;
  }
}
.text-block {
  margin-bottom: 18px;
  text-align: left;
  &__main {
    display: block;
    font-size: 20px;
    color: #000;
    line-height: 24px;
  }
  &__remark {
    display: block;
    font-size: 14px;
    color: #c0c0c0;
    line-height: 16px;
    font-style: italic;
  }
}
.bottom {
  position: relative;
  display: flex;
  align-items: center;
}
.checkbox {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #aaaabd;
  &:before {
    content: "\2713";
    display: inline-block;
    color: #aaaabd;
    font-size: 16px;
    line-height: 16px;
    transform: scale(0);
    transition: 0.3s;
  }
  &[checked="checked"].checkbox:before {
    transform: scale(1);
  }
}
.radio {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #aaaabd;
  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #aaaabd;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s;
  }
  &[checked="checked"].radio:before {
    transform: scale(1);
  }
}
.button {
  display: inline-block;
  align-items: center;
  padding: 0 26px;
  border-radius: 4px;
  color: #aaaabd;
  background-color: #f7f6f6;
  border: 1px solid #aaaabd;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
  &_next {
    margin-left: auto;
    background-color: #0844a4;
    color: #fff;
    font-weight: bold;
    line-height: 36px;
    border: 1px solid #0844a4;
  }
  &_underline {
    padding: 0;
    text-decoration: underline;
    border: 0;
  }
  &_icon {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  &_desktop {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &_mobile {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
    }
  }
  &_disabled {
    background-color: #ddd;
    border-color: #ddd;
    color: #999;
    cursor: default;
  }
}
</style>
