<template>
  <div id="app">
    <div class="app-wrapper">
      <div class="header">
        <button
          v-if="!complete"
          :class="[{ 'button_disabled': disabledPrev }, 'button', 'button_desktop']"
          @click="previousPage()"
        >Назад</button>
        <button class="button button_icon button_mobile" @click="previousPage()">
          <img src="./assets/img/arrow.png" alt="Назад">
        </button>
        <div v-if="!complete" v-html="pageselector" class="pageselector"></div>
        <button class="button button_underline button_desktop" @click="startOver()">Начать сначала</button>
        <button class="button button_icon button_mobile" @click="startOver()">
          <img src="./assets/img/reset.png" alt="Начать сначала">
        </button>
      </div>
      <div class="content">
        <div v-if="!complete" class="questions">
          <div class="container" v-for="(question, index) in questions" :key="index">
            <question
              v-if="index === activeQuestion"
              :question="question"
              @complete="pushResult($event)"
            />
          </div>
        </div>
      </div>
      <div v-if="complete" class="complete">
        <h1>Опрос закончен!</h1>
        <h2>Выбранные ответы:</h2>
        <ul>
          <li v-for="(answer, index) in result" :key="index">
            <strong>{{ index + 1 }}</strong>
            <span>{{ answer }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Question from '@/components/Question.vue'

export default {
  name: 'App',

  data () {
    return {
      activeQuestion: 0,
      result: [],
      complete: false,
      pageselector: '',
      disabledPrev: true
    }
  },

  components: {
    Question
  },

  computed: {
    questions () {
      return this.$store.state.questions
    }
  },

  methods: {
    pushResult (result) {
      this.result.push(result)
      this.activeQuestion++

      if (this.result.length === this.questions.length) {
        this.complete = true
      }
    },
    previousPage () {
      this.activeQuestion -= 1
      this.result.pop(this.result.length - 1)
      if (this.activeQuestion < 0) {
        this.activeQuestion = 0
        this.disabledPrev = true
      }
    },
    startOver () {
      this.activeQuestion = 0
      this.result = []
      this.complete = false
    },
    setActivePageselector () {
      const items = document.querySelectorAll('.pageselector__item')
      for (let i = 0; i < items.length; i += 1) {
        if (+items[i].getAttribute('id') <= this.activeQuestion + 1) {
          items[i].classList.add('pageselector__item_active')
        } else {
          items[i].classList.remove('pageselector__item_active')
        }
      }
    }
  },
  created () {
    for (let i = 1; i <= this.questions.length; i += 1) {
      this.pageselector = `${this.pageselector}<div class="pageselector__item" id=${i}></div>`
    }
  },
  mounted () {
    this.setActivePageselector()
  },
  updated () {
    this.activeQuestion > 0 ? this.disabledPrev = false : this.disabledPrev = true
    this.setActivePageselector()
  }
}
</script>

<style lang="scss">
.app {
  font-family: Arial, Helvetica, sans-serif;
  * {
    box-sizing: border-box;
  }
  &-wrapper {
    border: 1px solid #f7f6f6;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 6px 20px;
  background-color: #f7f6f6;
}
.content {
  padding: 20px 20px 14px;
}
.pageselector {
  display: flex;
  align-items: center;
  margin: 0 auto;
  &__item {
    display: block;
    border: 1px solid #000;
    margin: 0 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    &_active {
      background-color: #000;
    }
  }
}
</style>
